/*google style import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Tenor+Sans&display=swap');


html {
    height: 100%;
}

body {
    background: url('https://res.cloudinary.com/dutjcas0m/image/upload/v1740397180/hero_image_b37nmk.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 116px);
    color: #242424;
    font-family: "Raleway", serif;
    font-weight: 500;
    position: relative; /* Ensure relative positioning */
}

.content {
    position: relative;
    z-index: 2; /* Keeps content above overlay */
}

.title {
    font-size: 2em;
    color: #ffffff;
    margin-top: 7rem !important;
    margin-bottom: 1.5em;      
    position: relative;
    padding-bottom: 5px;
    line-height: 2em;   
}


.title::after {
    content: "";
    display: block;
    width: 7em;          
    background-color: #ffffff; 
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
}

.detail-section p {

    font-size:14px !important;
}
.detail-section h4 {
    font-size:16px !important;
}

.detail-title {
    text-transform: none !important;  
}

.nav-link {
    display: block;
    padding: .2em 0.2em;
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: "Tenor Sans", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* Buttons */

.shop-now-button {
    background: black;
    color: white!important;
    min-width: 260px;
}

.btn{
    border-radius: 0;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.custom-quantity-input {
    display: flex;
    align-items: center;
    width: fit-content;
    border: 1px solid #333;
    overflow: hidden;
}

.keep-shopping-btn {
    text-transform: uppercase;
    transition: 0.3s;
    border: 1px solid #fff;
    color: #fff !important;
}

.keep-shopping-btn:hover {
    background: #fff;
    color: #000 !important;
}

.text-black {
    color: #000 !important;
}
.font-weight-bold {
    font-weight: 700 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    background: #bdcbbe;
	z-index: -1;
}

.bg-main {
    background-color: #1a1818 !important;
}

a {
    color: #6c757d !important;
}

a.category-badge > span.badge:hover {
    background: #464b50 !important;
    color: #fff !important;
}

.badge {
    border-radius: 0%;
    line-height: normal;
    font-weight: 400;
    font-family: "Raleway", serif;
    font-size: 1rem;
    color: #ffffff !important;
    background: #4f4e4c !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


input[name='q']::placeholder {
    color: #aab7c4;
}

.navbar-nav {
    margin-top: 1.5em;
}

/*-------------------------------art cards*/

.margin-t-b {
    margin: 1em 0;
}
.cards-row {
    margin: 0 0.3em;
}

.card-group {
    margin-bottom: 20px;
}
.art-card {
    position: relative;
    background: #fff;
    padding: 1.5rem;
    margin-bottom: 30px;
    /* Canvas-like texture and shadow */
    box-shadow: 
        /* Deeper shadow at bottom for depth */
        0 15px 25px -8px rgba(0,0,0,0.3),
        /* Subtle side shadows */
        8px 0 15px -8px rgba(0,0,0,0.2),
        -8px 0 15px -8px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
}

.art-card:hover {
    transform: scale(1.03);
}

.action-icons {
    color: #666;
    font-size: 1.1rem;
}

.action-icons i {
    cursor: pointer;
}

.action-icons i:hover {
    color: #433f3f;
}

.art-image-container {
    position: relative;
    overflow: hidden;
    /* Canvas-like texture */
    background-image: 
        linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 2px 2px;
}

.image-container {
    margin:0 2em;
    position: relative;
}

/* Hover effect */
.image-container img:hover {
    transform: translateY(-2px); /* Slight lift */
    box-shadow: 0 6px 12px rgba(35, 33, 33, 0.181); /* Emphasized shadow */
    background-color: #f6f4f1;
}

/* Active (clicked) effect */
.image-container img:active {
    transform: translateY(2px); /* Pressed effect */
    box-shadow: 0 2px 4px rgba(96, 92, 92, 0.23); /* Reduced shadow */
    background-color: #a09e9c; 
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*accordion Faq*/
.collapse:not(.show) {
    display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

/*-------------------------------- Add art table*/
.table th {
    vertical-align: middle;
}

.table td {
    vertical-align: middle;
}
.table input,
.table select,
.table textarea {
    width: 100%;
}

/*-------------------------------- Art Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #aa4852;
    border-radius: 0;
}

/* -------------------------------- About */
.main-image-container {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    overflow: hidden;
}
.about-main-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.art-thumbnail {

    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid white;
    transition: all 0.3s ease;
}

.art-thumbnail.active {
    border-color: #000;
}

.art-main-image {
    border: solid 6px white;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.thumbnail-container {
    display: flex;
    gap: 10px;
}

/*-------------------------------- Art Details Styling */
.more-details-header {
    cursor: pointer;
    padding: 10px 0;
}

.more-details-header:hover {
    opacity: 0.8;
}

.additional-details {
    padding: 15px 0;
    border-top: 1px solid rgba(255,255,255,0.1);
}

#details-chevron {
    transition: transform 0.3s;
}

.rotate-chevron {
    transform: rotate(180deg);
}

/* --------------------------------Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #5c646a; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #353535;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/*----------------------------------- Footer*/

.footer {
    background-color: #000000;
    margin-top: 2rem;
}

.subscription-form {
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 8px;
}

.subscription-form .form-control {
    background: rgba(255, 255, 255, 0.9);
    border: none;
    padding: 0.8rem;
}

.subscription-form .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.subscription-form .btn-outline-light {
    padding: 0.8rem 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.subscription-form .btn-outline-light:hover {
    background-color: #fff;
    color: #333;
}

.social-links a {
    transition: opacity 0.3s ease;
}

.social-links a:hover {
    opacity: 0.8;
}





/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

/* Mobile adjustments */
@media (max-width: 768px) {
    .main-image-container {
        max-width: 100%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        margin-top : 5em;
        /* padding-top: 116px; */
    }
    .title {
        margin-top: 3rem !important;
    }
} 

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}



