<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'art' %}">
                Gallery
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="subject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Subject
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="subject-link">
                <a href="{% url 'art' %}?category=animals" class="dropdown-item">Animals</a>
                <a href="{% url 'art' %}?category=nature" class="dropdown-item">Nature</a>
                <a href="{% url 'art' %}?category=female" class="dropdown-item">Female </a>
                <a href="{% url 'art' %}?category=animals,nature,female" class="dropdown-item">All Subjects</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id= "filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-art-link">
                <a href="{% url 'art' %}?sort=date&direction=desc" class="dropdown-item">By New</a>
                <a href="{% url 'art' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'art' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'art' %}?sort=orientation&direction=desc" class="dropdown-item">By Orientation</a>
                <a href="{% url 'art' %}" class="dropdown-item">All Art</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'about' %}" id="about"  aria-haspopup="true">
                About
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="contact" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="subject-link">
                <a href="{% url 'contact' %}" class="dropdown-item">Contact</a>
                <a href="{% url 'faq' %}"  class="dropdown-item">FAQ</a>
            </div>
        </li>
    </ul>
</div>