<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'art' %}" id="all-art-link">
                Gallery
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-art-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-art-link">
                <a href="{% url 'art' %}?sort=date&direction=desc" class="dropdown-item">By New</a>
                <a href="{% url 'art' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'art' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'art' %}?sort=orientation&direction=desc" class="dropdown-item">By Orientation</a>
                <a href="{% url 'art' %}" class="dropdown-item">All Art</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cups-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="subject-link">
                <a href="{% url 'art' %}?category=animals" class="dropdown-item">Animals</a>
                <a href="{% url 'art' %}?category=nature" class="dropdown-item">Nature</a>
                <a href="{% url 'art' %}?category=female" class="dropdown-item">Female </a>
                <a href="{% url 'art' %}?category=animals,nature,female" class="dropdown-item">All Categories</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="posters-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Specials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gifts-link">
                <a href="{% url 'art' %}?category=special_offer" class="dropdown-item">Special Offer</a>
                <a href="{% url 'art' %}?category=limited_eddition" class="dropdown-item">Limited Editions</a>
            </div>
        </li>
    </ul>
</div>