<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Items</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cups-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cups
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="t-shirt-link">
                <a href="" class="dropdown-item">Classic</a>
                <a href="" class="dropdown-item">Double Color</a>
                <a href="" class="dropdown-item">Panoramic</a>
                <a href="" class="dropdown-item">All Mugs</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="teddies-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Teddies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="plush-toy-link">
                <a href="" class="dropdown-item">Teddy Bear</a>
                <a href="" class="dropdown-item">Rihno</a>
                <a href="" class="dropdown-item">Tiger</a>
                <a href="" class="dropdown-item">All Toys</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bags-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bags
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="prints-link">
                <a href="" class="dropdown-item">Tote</a>
                <a href="" class="dropdown-item">Draw String</a>
                <a href="" class="dropdown-item">Shopping</a>
                <a href="" class="dropdown-item">All Bags</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="posters-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Posters
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gifts-link">
                <a href="" class="dropdown-item">Couples</a>
                <a href="" class="dropdown-item">Friends</a>
                <a href="" class="dropdown-item">Funny</a>
                <a href="" class="dropdown-item">All Posters</a>
            </div>
        </li>
    </ul>
</div>